@{
    ViewBag.Title = "About";
}

<h3 class="page-header">Vicky Abarrotes - <small>Productos</small></h3>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" height="64px" src="~/Content/images/arroz.png" alt="Arroz costeño">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Arroz costeño 5kg</h4>
                        <p><strong>Precio:</strong> s/ 19.8</p>
                        <p><button type="button" class="btn btn-block btn-sm">Agregar</button></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" height="64px" src="~/Content/images/azucar.jpg" alt="Arroz costeño">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Azúcar costeño 1kg</h4>
                        <p><strong>Precio:</strong> s/ 3.2</p>
                        <p><button type="button" class="btn btn-block btn-sm">Agregar</button></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" height="64px" src="~/Content/images/aceite.jpg" alt="Arroz costeño">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Aceite vegetal 1lt</h4>
                        <p><strong>Precio:</strong> s/ 11.8</p>
                        <p><button type="button" class="btn btn-block btn-sm">Agregar</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Mi compra</div>
            <div class="panel-body">
                <div class="text-center">
                    <p>Total a pagar</p>
                    <h2>s/ 125.30</h2>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default btn-block">Confirmar compra</button>
            </div>
        </div>

    </div>

</div>
